section.about
  .container
    .img
      img(src="images/book.png")
    .content
      .heading
        h2 عن الكتاب
        p.desc يهتم هذا الكتاب الجميل المكتوب جيدًا بالطباعة وهو ضروري للمحترفين الذين يعملون بانتظام مع العملاء المحترفين الذين يعملون بانتظام مع العملاء.
      .blocks
        .block
          i.fal.fa-award
          h3 حاصل على أكثر من 10 جوائز
          p لا أحد يحب الألم بذاته، يسعى ورائه أو يبتغيه، ببساطة لأنه الألم
        .block
          i.fal.fa-phone-laptop
          h3 اقرأ على أي جهاز
          p لا أحد يحب الألم بذاته، يسعى ورائه أو يبتغيه، ببساطة لأنه الألم
        .block
          i.fal.fa-rocket-launch
          h3 أهداف التسويق
          p لا أحد يحب الألم بذاته، يسعى ورائه أو يبتغيه، ببساطة لأنه الألم
      a(href="#").btn.btn-second
        i.fas.fa-check
        |  المزيد عن الدعم
    .clear