section.author
  .container
    .head
      h2 عن المؤلف
      p يهتم هذا الكتاب الجميل المكتوب جيدًا بالطباعة وهو ضروري للمحترفين الذين يعملون بانتظام مع العملاء المحترفين.
    .content
      .img
        .cadr
        img(src="images/author.jpg")
      .text
        h1 محمد علي
        p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        ul
          li
            i.fas.fa-check
            | حاصل على أكثر من 10 جوائز
          li
            i.fas.fa-check
            | شغوف جدا بالكتابة
          li
            i.fas.fa-check
            | الكاتب الأكثر شهرة في العام
      .clear