section.banner
  .container
    .img
      img(src="images/book-2.png")
    .content
      p.sub-heading خصم 50٪ على الشراء المبكر
      h1 حل مشاكل حياتك اليومية في دقيقة واحدة
      ul
        li
          i.fas.fa-check
          |  تعلم من الخبراء بالتفصيل
        li
          i.fas.fa-check
          |  يشمل 16 فصلا
        li
          i.fas.fa-check
          |  نسخة إلكترونية إضافة الى إصدارات iBooks و PDF و ePub
        li
          i.fas.fa-check
          |  كتاب صوتي مع كل عملية شراء
      a(href="#").btn.btn-prime أحصل عليه ب 3000دج
      p
        | تريد الحصول على فصل مجاني؟ 
        a(href="#") أحصل عليه الآن