section.chapters
  .container
    .head
      h2 الفصول التي تمت تغتطيتها
      p يهتم هذا الكتاب الجميل المكتوب جيدًا بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام مع العملاء.
    .content
      .column
        .chapter
          h3
            span الفصل الأول
            | معالجة علوم البيانات
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
          .chapter
          h3
            span الفصل الثاني
            | صعود التصميم الشائع
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .chapter
          h3
            span الفصل الثالث
            | معالجة علوم البيانات
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام.
        .chapter
          h3
            span الفصل الرابع
            | صعود التصميم الشائع
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
      .column
        .chapter
          h3
            span الفصل الخامس
            | معالجة علوم البيانات
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .chapter
          h3
            span الفصل السادس
            | صعود التصميم الشائع
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .chapter
          h3
            span الفصل السابع
            | معالجة علوم البيانات
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام.
      .clear