section.counter
  .container
    .img
      img(src="images/counter.png")
    .content
      .box
        h3 50
          span k
        p يقرأون هذا الكتاب و يتحسنون
      .box
        h3 97
          span %
        p معدلات الرضا تأتي من زبائن رائعين
      .box
        h3 4.9
        p متوسط التصنيف الذي حصلنا عليه من الزبائن
      .box
        h3 24
          span +
        p جوائزة حصلنا عليها من منظمات مختلفة
      .clear