section.features
  .container
    .head
      h2 لمن نقدم هذا الكتاب
      p يتحدث هذا الكتاب عن الطباعة، وهو ضروري للمحترفين الذين يعملون بانتظام مع العملاء يتحدث هذا الكتاب عن الطباعة وهو ضروري للمحترفين.
    .grid
      .feature
        i.fal.fa-briefcase
        .text
          h3 رجال الأعمال
          p لا أحد يحب الألم بذاته، يسعى ورائه أو يبتغيه، ببساطة لأنه الألم
      .feature
        i.fal.fa-pencil-paintbrush
        .text
          h3 مدراء المشاريع
          p لا أحد يحب الألم بذاته، يسعى ورائه أو يبتغيه، ببساطة لأنه الألم
      .feature
        i.fal.fa-graduation-cap
        .text
          h3 الطلاب
          p لا أحد يحب الألم بذاته، يسعى ورائه أو يبتغيه، ببساطة لأنه الألم
      .clear