footer
  .container
    .widget.kitab
      h3 كِتاب
      p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي.
    .row
      .widget.connect
        h3 للتواصل
        ul.sm
          li
            a(href="#")
              i.fab.fa-facebook
          li
            a(href="#")
              i.fab.fa-twitter
          li
            a(href="#")
              i.fab.fa-instagram
          li
            a(href="#")
              i.fab.fa-linkedin
        ul.links
          li
            a(href="#") الشروط و الأحكام
          li
            a(href="#") سياسة الخصوصية
      .widget.info
        h3 مزيد من المعلومات
        ul
          li 05 60708090
          li عمر 10010، البويرة - الجزائر
          li achr3012@gmail.com
      .clear
  .copy
    .container
      p
        | @2021 
        | جميع الحقوق محفوظة 
        i.fal.fa-copyright
      p
        | تصميم: 
        a(href="https://www.instagram.com/its__achraf" target="_blanc") أشرف