section.preview
  .container
    .head
      h2 الأشياء التي ستتعلمها
      p يهتم هذا الكتاب الجميل المكتوب جيدًا بالطباعة وهو ضروري للمحترفين الذين يعملون بانتظام مع العملاء المحترفين الذين يعملون.
    .content
      .topic
        .icon
          i.fas.fa-check
        .text
          h3 كيف تحسن من نفسك
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .clear
      .topic
        .icon
          i.fas.fa-check
        .text
          h3 استغل الوقت بشكل مثمر
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .clear
      .topic
        .icon
          i.fas.fa-check
        .text
          h3 كيف تفكر بشكل خلاق
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .clear
      .topic
        .icon
          i.fas.fa-check
        .text
          h3 10 نصائح لتحسين نفسك
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .clear
      .topic
        .icon
          i.fas.fa-check
        .text
          h3 نصائح وحيل قوية
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .clear
      .topic
        .icon
          i.fas.fa-check
        .text
          h3 نمي شخصيتك
          p كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين الذين يعملون بانتظام كتاب مكتوب جيدًا يهتم بإنشاء الطباعة وهو ضروري للمحترفين .
        .clear
      