section.subscribe
  .container
    .heading
      span إشترك الآن
      h2 احصل على فصل مجاني من هذا الكتاب
    form
      - var plh = "البريد الإلكتروني";
      input(type="text" placeholder=plh)
      button.btn.btn-prime إشترك
        i.fas.fa-angle-left
      p * إصدارات iBooks و PDF و ePub