doctype html
html(lang="ar")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
   
    title Book
    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400;600;800&family=Markazi+Text&display=swap" rel="stylesheet")


    link(rel="stylesheet" href="css/fa-all.css")
    link(rel="stylesheet" href="css/style.css")
  
  body
    
    include layouts/header
    include layouts/banner
    include layouts/about
    include layouts/chapters
    include layouts/preview
    include layouts/features
    include layouts/counter
    include layouts/subscribe
    include layouts/author
    include layouts/contact
    include layouts/footer

    script(src="js/script.js")